{% load static %}
<!DOCTYPE html>
<html lang="en">

<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1">
    <title>Front page</title>

    <link href="https://fonts.googleapis.com/icon?family=Material+Icons" rel="stylesheet">
    <link href="https://fonts.googleapis.com/css?family=Roboto:300,400,500,700,900" rel="stylesheet">

    <link rel="stylesheet" href="{% static "css/bootstrap.css" %}">
    <link rel="stylesheet" href="{% static "css/font-awesome.min.css" %}">
    <link rel="stylesheet" href="{% static "css/owl.carousel.min.css" %}">
    <link rel="stylesheet" href="{% static "css/owl.theme.default.min.css" %}">
    <link rel="stylesheet" href="{% static "style.css" %}">
    <link rel="stylesheet" href="{% static "responsive.css" %}">
</head>

<body>
    <div class="wrapper">
        <header class="header">
            <section class="header-top">
                <div class="container">
                    <div class="row">
                        <div class="col-md-8 col-sm-8 col-xs-12">
                            <div class="contact">
                                <p><span class="phone"><a href="#">Phone: +91 8549654635</a></span><span class="email"><a href="#">Email: aidlinkadmin@gmail.com</a></span></p>
                            </div>
                        </div>
                        <div class="col-md-4 col-sm-4">
                            <div class="login">
                                <p><a href="{% url "login" %}">LOGIN</a></p>
                            </div>
                        </div>
                    </div>
                </div>
            </section>
            <section class="header-bottom">
                <div class="container">
                    <div class="row">
                        <div class="col-md-5 col-sm-12 col-xs-12">
                            <a href="{% url "home" %}">
                                <div class="main-logo">
                                    <img src="{% static "img/main-logo.png" %}" alt="">
                                    <h2>AIDLINK</h2>
                                </div>
                            </a>
                        </div>
                        <div class="col-md-7 col-sm-12 col-xs-12">
                            <div class="menu">
                                <ul class="nav navbar-nav">
                                    <li><a href='/civilreg'>JOIN US</a></li>
                                    <li><a href="{% url 'view_locations' %}">VIEW CAMP MAP</a></li>
                                    <li><a href="https://donation.cmdrf.kerala.gov.in/#donation">DONATE</a></li>
                                    <li><a href="https://new-interface-9b138c.zapier.app/">CHAT</a></li>
                                    <li><a href="{% url 'view_camps' %}">CAMPS</a></li>
                                    <li><a href="{% url 'message_list' %}">NOTIFICATIONS</a></li>
                                    <li><a href="/organizations">PARTNERS</a></li>
                                    <li><a href="/feedback">FEEDBACK</a></li>
                                </ul>
                            </div>
                        </div>
                    </div>
                </div>
            </section>
        </header>
        <section class="carosal-area">
            <div class="container">
                <div class="row">
                    <div class="col-md-12">
                        <div class="client owl-carousel owl-theme">
                            <div class="item">
                                <div class="text">
                                    <h3>NEWS AND UPDATES</h3>
                                    <p>"Your safety is at the heart of our mission.<br> Count on us for real-time disaster updates and expert guidance.<br> In times of crisis, knowledge is your best defense, and we're here to provide it."</p>
                                    <h5 class="white-button"><a href="#">KNOW MORE</a></h5>
                                    <h5><a href="#">CONTACTS</a></h5>
                                </div>
                            </div>
                            <div class="item">
                                <div class="text">
                                    <h3>EMERGENCY PLANS AND PROCEDURES</h3>
                                    <p>"Emergency Plans and Procedures: Your safety matters.<br> Access our concise guides and procedures to create a family emergency plan that works.<br> Be prepared for any crisis with our expert resources."</p>
                                    <h5 class="white-button"><a href="#">KNOW MORE</a></h5>
                                    <h5><a href="#">CONTACTS</a></h5>
                                </div>
                            </div>
                            <div class="item">
                                <div class="text">
                                    <h3>TYPES OF DISASTERS</h3>
                                    <p>"Types of Disasters:<br> From natural to man-made,<br> explore different disaster types and learn how to stay safe in any situation."</p>
                                    <h5 class="white-button"><a href="#">KNOW MORE</a></h5>
                                    <h5><a href="#">CONTACTS</a></h5>
                                </div>
                            </div>
                            <div class="item">
                                <div class="text">
                                    <h3>EMERGENCY KIT CHECKLIST</h3>
                                    <p>"Emergency Kit Checklist:<br> Be ready for anything with our checklist of essential items to include in your emergency kit."</p>
                                    <h5 class="white-button"><a href="#">KNOW MORE</a></h5>
                                    <h5><a href="#">CONTACTS</a></h5>
                                </div>
                            </div>
                            <div class="item">
                                <div class="text">
                                    <h3>EMERGENCY CONTACTS</h3>
                                    <p>"Emergency Contacts:<br> Quick access to crucial numbers -<br> find emergency services, local authorities, and essential contacts for immediate assistance."</p>
                                    <h5 class="white-button"><a href="#">KNOW MORE</a></h5>
                                    <h5><a href="#">CONTACTS</a></h5>
                                </div>
                            </div>
                        </div>
                    </div>
                </div>
            </div>
        </section>
        <section class="events_section_area">
            <h2>ONGOING DISASTERS</h2>
            <p>"Currently, the world is grappling with numerous ongoing disasters that demand our collective awareness, support, and action.<br>
                These crises span across regions and are affecting communities in various ways.<br>
                Below, we've compiled a list of some of these ongoing disasters, shedding light on the challenges people are facing and the need for urgent assistance and relief efforts:"</p>
            <div class="container">
                <div class="row">
                    <div class="col-md-4 col-xs-12">
                        <div class="events_single">
                            <img src="{% static "img/flood.jpg" %}" alt="">
                            <p><span class="event_left"><i class="material-icons">access_time</i>12:15 pm 05/09/2023</span><span class="event_right"><i class="material-icons">location_on</i>Mumbai, India</span></p>
                            <div class="clear"></div>
                            <h3>Mumbai Floods: Heavy Rains Cause Widespread Damage and Disruption</h3>
                            <h6>Heavy rains have caused widespread flooding in Mumbai, India, leading to damage and disruption. The city's infrastructure has been overwhelmed by the rains, and many areas are without power or water. Thousands of people have been evacuated from their homes.</h6>
                        </div>
                    </div>
                    <div class="col-md-4 col-xs-12">
                        <div class="events_single">
                            <img src="{% static "img/tsunami.jpg" %}" alt="">
                            <p><span class="event_left"><i class="material-icons">access_time</i>01:00 am 06/09/2023</span><span class="event_right"><i class="material-icons">location_on</i>Tokyo, Japan</span></p>
                            <h3>Tokyo Tsunami: City Devastated by Massive Tsunami</h3>
                            <h6>A magnitude 8.9 earthquake struck off the coast of Tokyo, Japan, triggering a massive tsunami that devastated the city. The tsunami caused widespread damage and flooding, and the death toll is expected to rise.</h6>
                        </div>
                    </div>
                    <div class="col-md-4 col-xs-12">
                        <div class="events_single">
                            <img src="{% static "img/wildfire.jpg" %}" alt="">
                            <p><span class="event_left"><i class="material-icons">access_time</i>03:00 pm 04/09/2023</span><span class="event_right"><i class="material-icons">location_on</i>Beijing, China</span></p>
                            <h3>Beijing Wildfire: Firefighters Battle Blaze on Outskirts of City</h3>
                            <h6>A wildfire is burning on the outskirts of Beijing, China, and firefighters are battling to contain it. The fire has spread to over 1,000 acres and has destroyed several homes and businesses. There are no reports of injuries or deaths at this time.</h6>
                        </div>
                    </div>
                </div>
            </div>
        </section>
        <footer class="footer">
            <div class="container">
                <div class="row">
                    <div class="col-md-4 col-sm-12">
                        <div class="footer-charity-text">
                            <h2>HELP CHARITY</h2>
                            <p>Lorem ipsum dolor sit amet, consectetur adipisicing elit, sed do eiusmod tempor incididunt ut labore et dolore magna aliqua. Ut enim ad minim veniam, quis nostrud exercitation ullamco laboris </p>
                            <hr>
                            <p><a href="#"><i class="fa fa-facebook" aria-hidden="true"></i></a><a href="#"><i class="fa fa-twitter" aria-hidden="true"></i></a><a href="#"><i class="fa fa-behance" aria-hidden="true"></i></a><a href="#"><i class="fa fa-dribbble" aria-hidden="true"></i></a></p>
                        </div>
                    </div>
                    <div class="col-md-8">
                        <div class="row">
                            <div class="col-md-4 col-sm-5">
                                <div class="footer-text one">
                                    <h3>RECENT POST</h3>
                                    <ul>
                                        <li><a href="#"><i class="material-icons">keyboard_arrow_right</i> Consectetur Adipisicing Elit</a></li>
                                        <li><a href="#"><i class="material-icons">keyboard_arrow_right</i> Consectetur Adipisicing </a></li>
                                        <li><a href="#"><i class="material-icons">keyboard_arrow_right</i> Consectetur Adipisicing Elit</a></li>
                                        <li><a href="#"><i class="material-icons">keyboard_arrow_right</i> Consectetur Adipisicing</a></li>
                                        <li><a href="#"><i class="material-icons">keyboard_arrow_right</i> Consectetur Adipisicing Elit</a></li>
                                    </ul>
                                </div>
                            </div>
                            <div class="col-md-4 col-sm-3">
                                <div class="footer-text two">
                                    <h3>USEFUL LINKS</h3>
                                    <ul>
                                        <li><a href="#">Home</a></li>
                                        <li><a href="#">Causes</a></li>
                                        <li><a href="#">Event</a></li>
                                        <li><a href="#">Blog</a></li>
                                    </ul>
                                </div>
                            </div>
                            <div class="col-md-4 col-sm-4">
                                <div class="footer-text one">
                                    <h3>CONTACT US</h3>
                                    <ul>
                                        <li><a href="#"><i class="material-icons">location_on</i>1 Street, derby, FL 2147, USA</a></li>
                                        <li><a href="#"><i class="material-icons">email</i>dartthemes@gmail.com</a></li>
                                        <li><a href="#"><i class="material-icons">call</i>+123456789</a></li>
                                    </ul>
                                </div>
                            </div>
                        </div>
                    </div>
                </div>
            </div>
            <div class="footer_bottom">
                <p>Copyright @ 2023 <a href="#">AidLink</a> | All Rights Reserved </p>
            </div>
        </footer>
    </div>
    <script src="{% static "js/jquery-3.1.1.min.js" %}"></script>
    <script src="{% static "js/animationCounter.js" %}"></script>
    <script src="{% static "js/bootstrap.min.js" %}"></script>
    <script src="{% static "js/owl.carousel.min.js" %}"></script>
    <script src="{% static "js/active.js" %}"></script>

    <script type="text/javascript">
        var _gaq = _gaq || [];
        _gaq.push(['_setAccount', 'UA-36251023-1']);
        _gaq.push(['_setDomainName', 'jqueryscript.net']);
        _gaq.push(['_trackPageview']);

        (function() {
            var ga = document.createElement('script');
            ga.type = 'text/javascript';
            ga.async = true;
            ga.src = ('https:' == document.location.protocol ? 'https://ssl' : 'http://www') + '.google-analytics.com/ga.js';
            var s = document.getElementsByTagName('script')[0];
            s.parentNode.insertBefore(ga, s);
        })();
    </script>
</body>

</html>